.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    text-decoration: none;
    font-size: 18px;
    color: #333;
  }
  
  .button button {
    margin-left: 10px;
    font-size: 16px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .button button:hover {
    background-color: #ccc;
  }

  .button .name {
    width: 80%;
    background-color: white;
    color: #aaa;
    font-weight: bold;
  }
  .button .name:hover {
    background-color: white;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #555;
  }
  